.xr-interface-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: #333; */
    padding: 16px;
    z-index: 1;
}

.xr-chat-panel {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem 0;
}

.xr-chat-bubble {
    max-width: 60%;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    word-wrap: break-word;
}

.xr-chat-bubble.user {
    background-color: rgba(239, 237, 233, 255);
    align-self: flex-end;
    color: black;
    font-weight: 500;
    border-bottom-right-radius: 0;
}

.xr-chat-bubble.bot {
    background-color: rgb(93,131, 168, 0.5);
    align-self: flex-start;
    color: white;
    font-weight: 500;
    border-bottom-left-radius: 0;
    backdrop-filter: blur(12px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.xr-chat-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
}

.xr-chat-message.user {
    align-items: flex-end;
}

.xr-chat-label {
    font-size: 0.85rem;
    color: #ccc;
    margin-bottom: -0.25rem;
}

.xr-command-box {
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(93,91,113, 0.5);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    padding: 8px 12px;
    z-index: 20;
    margin-top: auto;
    height: 3rem;

}

.xr-command-input {
    border-radius: .5rem;
    height: 2.5rem;
    flex-grow: 1;
    background: #0000008a;
    border: none;
    color: rgb(17, 1, 1);
    font-size: 14px;
    outline: none;
    padding-left: 8px;
    background: rgba(255, 255, 255, 0.4);
    transform: translateZ(0);
    will-change: transform;
}


.xr-send-button,
.xr-mic-button {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.xr-mic-button img {
    width: 22px;
    height: 22px;
}

.xr-send-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.xr-send-button:hover:not(:disabled),
.xr-mic-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.xr-toggle-button {
    background: none;
    border: none;
    color: grey;
    cursor: pointer;
    font-size: 0.85em;
    margin-left: 8px;
    padding: 0;
}