.assistant-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  background: #23233c;
}

.assistant-card {
  background: var(--theme-color-lightbox);
  border-radius: 16px;
  padding: 30px;
  max-width: 600px;
  min-width:35vw;
  min-height: 350px;
  width: 100%;
  color: white;

}

.assistant-header {
  text-align: center;
  margin-bottom: 20px;
}


.assistant-bot-icon img {
  width: 50px;
  height: 50px;
}

.assistant-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.assistant-form input[type="text"] {
  flex: 1;
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #23233c;
  color: white;
}

.mic-button {
  width: 16px;
  height: 16px;
}

.mic-button.listening {
  background-color: #ff4081;
}


.message-log {
  border-top: 1px solid #2c3e50;
  padding-top: 20px;
}

.message {
  margin-bottom: 10px;
  line-height: 1.6;
}

.message.user strong {
  color: #81d4fa;
}

.message.assistant strong {
  color: #ffd54f;
}

.speech-control-button {
  margin-left: 15px;
}